@import 'variables.less';
@import 'mixins.less';

.caption-header-image {
	height: @header-image-height;
	background-position: center !important;
	background-repeat: no-repeat !important;
	margin-bottom: 2%;
	.center-align-item-flex();
}
.caption-header-title {
	text-align: center;
	color: white;
	text-shadow: 4px 4px 6px @text-grey;
}