/** ----------------- ELEMENT POSITION ----------------- **/
.display(@arg) {
  display: @arg;
}
.position(@arg) {
  position: @arg;
}
.absolute-x0-y0 {
  .position(absolute);
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
}
.v-align-center() {
  .position(relative);
  top: 50%;
  transform: translateY(-50%);
}
.h-align-center() {
  .position(relative);
  left: 50%;
  transform: translateX(-50%);
}

//! -- FLEX --
.flex-content-align(@arg) {
  align-items: @arg;
  justify-content: @arg;
}
.center-align-item-flex {
  .display(flex);
	.flex-content-align(center);
}
.center-column-flex {
  .display(flex);
  .flex-content-align(center);
  flex-direction: column;
}
//! -- FLEX --

/** ----------------- ELEMENT POSITION ----------------- **/


/** ------------------- LIST STYLE --------------------- **/
.clear-list() {
  list-style-type: none;
  padding-left: 0;
  margin-right: 0;
}
/** ------------------- LIST STYLE --------------------- **/


/** ------------------ ANIM EFFECTS -------------------- **/
.hover-trasition(@time) {
  transition: all @time ease-in-out;
}
.hover-shadow() {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}
.static-btn-shadow() {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
/** ------------------ ANIM EFFECTS -------------------- **/


/** ------------------ BOX PROPERTIES ------------------ **/
.color-bg-and-text(@bg;@text) {
  background-color: @bg;
  color: @text;
}
.box-space(@padding, @margin) {
  padding: @padding;
  margin: @margin;
}
.box-size(@width, @height) {
  width: @width;
  height: @height;
}
.dark-cover() {
  content: "";
  z-index: 0;
  background-color: none repeat rgba(30,30,30, 0.5);
  .position(absolute);
  top: 0;
  left: 0;
  .box-size(100%, 100%);
}
.opacity(@arg: 1) {
  opacity: @arg
}
/** ------------------ BOX PROPERTIES ------------------ **/


/** ------------------ TEXT PROPERTIES ----------------- **/
.text-fsize-and-lineheight(@fsize;@height) {
  font-size: @fsize;
  line-height: @height;
}
.upper {
  text-transform: uppercase;
}
/** ------------------ TEXT PROPERTIES ----------------- **/