@import 'variables.less';
@import 'mixins.less';

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    background-color: @woodbrown !important;
}

a.nav-link {
    color: @orangenut !important;
    &:hover {
        color: white !important;
        background-color: @seablue;
        border-radius: 5px;
    }
}
.navbar-nav .nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}