@import 'variables.less';

.law-pointer {
    text-align: center;
    font-size: 1.25em;
    color: @text-grey;
  }
  /*
  .status-list {}
  .second-level-status-list {}
  .third-level-status-list {} 
  */