@import 'mixins.less';

/*? @override - plugin style */
.fw-row {
  width: 80% !important;
  margin: 0 auto !important;
}
.fw-team-image,
.fw-team-inner {
  max-width: 70%;
}
.fw-team {
  .center-column-flex();
}
.fw-team-name > h3 {
  font-size: 1.5em !important;
}
