/* COLORS */
@background-light: #FDFDFD;
@smoked: whitesmoke;
@opacity_smoked: rgba(245, 245, 245, 0.7);
@lightgrey: lightgrey;
@darkgrey: darkgrey;
@text-grey: #424242;
@seablue: #024E66;
@skyblue: #3dd1ff;
@deepblue: #078ab3;
@nutbrown: #b36619;
@orangenut: #ff9e3c;
@woodbrown: #663300;

/* SIZE BOXES */
@header-image-height: 400px;

/* MEDIA */
@small: ~'only screen and (min-width: 768px)';
@medium: ~'only screen and (min-width: 992px)';
@large: ~'only screen and (min-width: 1200px)';

@max-small: ~'only screen and (max-width: 768px)';
@max-medium: ~'only screen and (max-width: 992px)';
@max-large: ~'only screen and (max-width: 1200px)';