/* class adapted 'content-area' - style.css line 12341 usage in page.php */
.full-content-area {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 576px) {
  .full-content-area {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .full-content-area {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* COLORS */
/* SIZE BOXES */
/** ----------------- ELEMENT POSITION ----------------- **/
.absolute-x0-y0 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* FLEX */
.center-align-item-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-column-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* FLEX */
/** ----------------- ELEMENT POSITION ----------------- **/
/** ------------------- LIST STYLE --------------------- **/
/** ------------------- LIST STYLE --------------------- **/
/** ------------------ ANIM EFFECTS -------------------- **/
/** ------------------ ANIM EFFECTS -------------------- **/
.caption-header-image {
  height: 400px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.caption-header-title {
  text-align: center;
  color: white;
  text-shadow: 4px 4px 6px #424242;
}
.law-pointer {
  text-align: center;
  font-size: 1.25em;
  color: #424242;
}
/*
  .status-list {}
  .second-level-status-list {}
  .third-level-status-list {} 
  */
/*? @override - plugin style */
.fw-row {
  width: 80% !important;
  margin: 0 auto !important;
}
.fw-team-image,
.fw-team-inner {
  max-width: 70%;
}
.fw-team {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.fw-team-name > h3 {
  font-size: 1.5em !important;
}
