/* COLORS */
/* SIZE BOXES */
/* MEDIA */
/** ----------------- ELEMENT POSITION ----------------- **/
.absolute-x0-y0 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.center-align-item-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-column-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/** ----------------- ELEMENT POSITION ----------------- **/
/** ------------------- LIST STYLE --------------------- **/
/** ------------------- LIST STYLE --------------------- **/
/** ------------------ ANIM EFFECTS -------------------- **/
/** ------------------ ANIM EFFECTS -------------------- **/
/** ------------------ BOX PROPERTIES ------------------ **/
/** ------------------ BOX PROPERTIES ------------------ **/
/** ------------------ TEXT PROPERTIES ----------------- **/
.upper {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
/** ------------------ TEXT PROPERTIES ----------------- **/
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.site-header nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  background-color: transparent !important;
  box-shadow: none;
}
.site-header nav.navbar.navbar-expand-lg.navbar-dark.bg-dark .navbar-nav .nav-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.site-header nav.navbar.navbar-expand-lg.navbar-dark.bg-dark .navbar-brand {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .site-header nav.navbar.navbar-expand-lg.navbar-dark.bg-dark .navbar-brand {
    font-size: 20px;
  }
}
.site-header nav.navbar.navbar-expand-lg.navbar-dark.bg-dark .navbar-brand img {
  margin-right: 10px;
  margin-bottom: 5px;
}
@media only screen and (max-width: 768px) {
  .site-header nav.navbar.navbar-expand-lg.navbar-dark.bg-dark .navbar-brand img {
    display: none;
  }
}
.site-header nav.navbar.navbar-expand-lg.navbar-dark.bg-dark #navbarNav {
  flex-grow: 0;
}
.site-header nav.navbar.navbar-expand-lg.navbar-dark.bg-dark #navbarNav a.nav-link {
  color: white !important;
}
.site-header nav.navbar.navbar-expand-lg.navbar-dark.bg-dark #navbarNav a.nav-link:hover {
  color: white !important;
  background-color: #024E66;
  border-radius: 5px;
}
.site-header nav.navbar.navbar-expand-lg.navbar-dark.bg-dark #navbarNav ul li a {
  font-size: 16px;
}
.site-header nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.navbar-scrolled {
  background-color: #663300 !important;
  z-index: 1;
  border: 0;
  border-radius: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
html {
  overflow-x: hidden;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: white;
  overflow-x: hidden;
}
p {
  font-size: 13px;
  line-height: 23px;
  color: #424242;
  padding: 0;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  p {
    font-size: 14px;
    line-height: 24px;
  }
}
h1,
h2,
h3,
h4 {
  color: #424242;
  font-weight: 300;
  line-height: 1.4;
}
h2 {
  font-size: 34px;
  margin-bottom: 24px;
}
h3,
h4 {
  font-size: 24px;
  margin-bottom: 18px;
}
a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
a:hover {
  text-decoration: none !important;
}
a:active {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
.bg-accent {
  background-color: #024E66;
}
.bg-lightgrey {
  background-color: whitesmoke;
}
/* class adapted 'content-area' - style.css line 12341 usage in page.php */
.full-content-area {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 576px) {
  .full-content-area {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .full-content-area {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* front-page styles */
.section-padding {
  padding-top: 25px;
  padding-bottom: 25px;
}
@media only screen and (min-width: 768px) {
  .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.contact * {
  color: #024E66;
}
.contact h2.fw-special-title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 32px;
  color: #b36619;
}
.contact .fw-col-xs-12:nth-child(2) {
  padding-left: 40%;
  padding-top: 10%;
}
@media only screen and (min-width: 768px) {
  .contact .fw-col-xs-12:nth-child(2) {
    padding-top: 0;
  }
}
@media only screen and (max-width: 768px) {
  .contact .fw-col-xs-12:nth-child(2) {
    padding-left: 0;
  }
}
.contact .fw-iconbox {
  text-align: center;
  margin-bottom: 50px;
}
@media only screen and (min-width: 768px) {
  .contact .fw-iconbox {
    text-align: inherit;
  }
}
.contact .fw-iconbox-image {
  margin-bottom: 24px;
  font-size: 40px;
  line-height: 40px;
}
@media only screen and (min-width: 768px) {
  .contact .fw-iconbox-image {
    float: left;
    display: inline-block;
    margin-bottom: 0;
  }
}
.contact .fw-iconbox-aside h3 {
  font-size: 20px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 0;
  clear: none;
}
.contact .fw-iconbox-aside p {
  margin-bottom: 12px;
}
@media only screen and (min-width: 768px) {
  .contact .fw-iconbox-aside {
    margin-left: 62px;
  }
}
.about-us h2.fw-special-title {
  color: #424242;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 32px;
}
.find-us h2.fw-special-title {
  color: #078ab3;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 32px;
}
.find-us .section-padding {
  padding-top: 25px;
  padding-bottom: 25px;
}
.find-us .fw-col-xs-12 {
  margin-top: 50px;
  text-align: center;
}
.find-us .fw-col-xs-12 p {
  text-align: justify;
}
@media only screen and (max-width: 768px) {
  .find-us a.fw-btn {
    width: 100%;
  }
}
.send-info {
  text-align: center;
}
.send-info h2.fw-special-title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
  color: whitesmoke;
}
@media only screen and (min-width: 768px) {
  .send-info h2.fw-special-title {
    text-align: left;
    margin-bottom: 0;
  }
}
.send-info div.fw-special-subtitle {
  color: whitesmoke;
  text-align: center;
  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .send-info div.fw-special-subtitle {
    text-align: left;
    margin-bottom: 0;
  }
}
.send-info a.fw-btn {
  font-weight: 300;
  transform: none;
}
@media only screen and (min-width: 1200px) {
  .send-info a.fw-btn {
    font-size: 14px;
    line-height: 20px;
  }
}
/* front-page styles */
.caption-header-image {
  height: 400px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.caption-header-title {
  text-align: center;
  color: white;
  text-shadow: 4px 4px 6px #424242;
}
.metaslider .caption-wrap {
  text-align: center;
  text-shadow: 1px 1px 1px #424242;
  background: rgba(0, 0, 0, 0.2) !important;
  z-index: 2;
  opacity: 1 !important;
  width: 100%;
  transform: translateY(50%);
  bottom: 50% !important;
}
@media only screen and (max-width: 768px) {
  .metaslider .caption-wrap {
    background: none !important;
  }
}
.metaslider .caption-wrap .caption {
  padding: 30px;
}
.metaslider .caption-wrap .slide-heading {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 31px;
}
@media only screen and (min-width: 1200px) {
  .metaslider .caption-wrap .slide-heading {
    font-size: 66px;
    line-height: 76px;
  }
}
.metaslider .caption-wrap .slide-desc {
  font-weight: 300;
  color: white;
  font-size: 20px;
  line-height: 20px;
  margin: 25px 0 !important;
}
@media only screen and (min-width: 992px) {
  .metaslider .caption-wrap .slide-desc {
    font-size: 24px;
    line-height: 24px;
  }
}
@media only screen and (min-width: 1200px) {
  .metaslider .caption-wrap .slide-desc {
    font-size: 28px;
    line-height: 28px;
  }
}
.metaslider .caption-wrap .slide-btn {
  margin-top: 25px;
}
@media only screen and (min-width: 1200px) {
  .metaslider .caption-wrap .slide-btn {
    margin-top: 40px;
    padding: 20px 30px;
    font-size: 18px;
  }
}
.law-pointer {
  text-align: center !important;
  font-size: 1.25em !important;
  color: #424242;
  margin-bottom: 20px !important;
  font-weight: 700;
}
body.page div.card-body h2.fw-special-title {
  font-weight: 500;
}
body.page div.card-body .fw-special-subtitle {
  text-align: center;
  margin-bottom: 20px;
}
body.page div.card-body h3.fw-special-title {
  text-align: center;
  background-color: #078ab3;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
body.page div.card-body div.entry-content p {
  font-size: 16px;
  margin-bottom: 12px;
  text-align: justify;
}
/*
  .status-list {}
  .second-level-status-list {}
  .third-level-status-list {} 
  */
.widget-sidebar {
  padding: 0 40px;
  margin-bottom: 45px;
}
@media only screen and (min-width: 1200px) {
  .widget-sidebar {
    padding: 0;
  }
}
.widget-sidebar * {
  margin: 0;
  padding: 0;
}
.widget-sidebar h2 {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ff9e3c;
}
.widget-sidebar li {
  padding: 8px 0 8px 20px;
  margin: 0;
  list-style-type: none;
  position: relative;
  font-size: 14px;
  line-height: 1.5;
}
.widget-sidebar li a {
  color: #3dd1ff;
}
.widget-sidebar li a:hover,
.widget-sidebar li afocus,
.widget-sidebar li a:active {
  color: #b36619;
}
.widget-sidebar li a:before {
  font-family: FontAwesome;
  position: absolute;
  content: "\f054";
  top: 11px;
  font-size: 11px;
  left: -3px;
  color: #ff9e3c;
}
.widget-sidebar li time {
  position: block;
  color: lightgrey;
}
body.single-post div.card-body div.entry-content p {
  font-size: 16px;
  text-indent: 50px;
  margin-bottom: 12px;
  text-align: justify;
}
body.single-post div.card-body div.entry-content ul,
body.single-post div.card-body div.entry-content ol {
  margin-left: 30px;
}
body.single-post div.card-body div.entry-content h3.center {
  text-align: center;
}
body.single-post div.card-body div.entry-content h3.center-color {
  text-align: center;
  background-color: #078ab3;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
body.single-post div.card-body p.no-indent {
  text-indent: 0 !important;
}
body.single-post div.card-body p.same-line {
  margin-bottom: 0 !important;
}
#block-4 {
  display: none;
}
.site-footer {
  padding: 70px 0 0;
  background-color: #663300;
  color: #ff9e3c;
}
.site-footer .footer-widgets {
  padding: 0 15px;
}
.site-footer .footer-widgets h3 {
  text-transform: uppercase;
  color: #ff9e3c;
  margin-top: 0;
  line-height: 1.1;
}
.site-footer .footer-widgets aside {
  margin-bottom: 30px;
}
.site-footer .footer-widgets aside ul {
  list-style-type: disc;
  list-style-position: inside;
}
.site-footer .footer-widgets aside ul li {
  font-size: 14px;
  padding-bottom: 10px;
}
.site-footer .footer-widgets aside ul li a {
  color: #ff9e3c;
}
.site-footer .footer-widgets aside ul li a:hover,
.site-footer .footer-widgets aside ul li afocus,
.site-footer .footer-widgets aside ul li a:active {
  color: white;
}
.site-footer .footer-widgets aside p {
  color: #ff9e3c;
  padding-right: 20px;
}
.footer-contact-item {
  clear: both;
  margin-bottom: 14px;
}
.footer-contact-item h5 {
  font-size: 14px;
  display: inline-block;
  color: #ff9e3c;
  padding: 0 0 16px;
  margin: 0 0 0 20px;
}
.footer-contact-item-icon {
  float: left;
  font-size: 25px;
  line-height: 25px;
}
@media only screen and (min-width: 1200px) {
  .footer-widget:last-child {
    padding-left: 50px;
  }
}
.footer-copyright {
  padding: 20px 0;
  font-size: 14px;
  text-align: center;
  background-color: #024E66;
  color: #3dd1ff;
}
.footer-copyright a {
  color: #3dd1ff;
}
.footer-copyright a:hover,
.footer-copyright afocus,
.footer-copyright a:active {
  color: white;
}
/*? @override - plugin style */
.fw-row {
  width: 80% !important;
  margin: 0 auto !important;
}
.fw-team-image,
.fw-team-inner {
  max-width: 70%;
}
.fw-team {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.fw-team-name > h3 {
  font-size: 1.5em !important;
}
.fw-btn {
  outline: none;
  border: none;
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  background-color: #078ab3;
  color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 11px 22px;
  margin: 5px 8px 5px 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
}
.fw-btn:hover {
  background-color: #b36619;
  color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}
.fw-btn:focus,
.fw-btn:active {
  outline: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}
.fw-btn-black {
  background-color: #024E66;
  color: white;
}
.fw-btn-black:hover {
  background-color: #b36619;
  color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}
.fw-btn-black:focus,
.fw-btn-black:active {
  outline: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}
.fw-btn-blue {
  background-color: #3dd1ff;
  color: white;
}
.fw-btn-blue:hover {
  background-color: #b36619;
  color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}
.fw-btn-blue:focus,
.fw-btn-blue:active {
  outline: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}
h2.fw-special-title {
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
@media small {
  h2.fw-special-title {
    font-size: 34px;
  }
}
.fw.iconbox {
  margin-bottom: 18px;
}
.about-us .fw-iconbox-image,
.card-body .fw-iconbox-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #ff9e3c;
  color: white;
  font-weight: lighter;
  cursor: pointer;
  margin: 0 auto;
}
.about-us .fw-iconbox-image:hover,
.card-body .fw-iconbox-image:hover {
  background-color: #b36619;
  color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}
.about-us .fw-iconbox-image:focus,
.card-body .fw-iconbox-image:focus,
.about-us .fw-iconbox-image:active,
.card-body .fw-iconbox-image:active {
  outline: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}
.about-us .fw-iconbox-image i,
.card-body .fw-iconbox-image i {
  display: inline-block;
  font-size: 34px;
  line-height: 80px;
}
.about-us .fw-iconbox-aside,
.card-body .fw-iconbox-aside {
  text-align: center;
}
